*{
  margin: 0 auto;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

#light {
  background-color: darkgoldenrod;
}

#dark {
  background-color: darkblue;
}

a {
  color: white;
  text-decoration: none;
}

a:hover{
  color: lightgray;
}

.switch {
 display: flex; 
 width: 100vw;
 height: 100px;
 justify-content: center;
 align-items: center;
} 

